.product-detail {
    width: 62.5rem;
    margin: 3.125rem auto;
    padding: 1.25rem;
    background-color: #f9f9f9;
    border-radius: 0.5rem;
}

.product-detail h1 {
    font-size: 2rem;
    margin-bottom: 1.25rem;
    text-align: center;
}

.product-table-detail {
    max-width: 87.5rem;
    margin-bottom: 1.25rem;
}
